@use '../../styles/variables.scss' as *;

.contact {
  main {
    display: flex;
    gap: 2rem;

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2.4rem 0;
      max-width: 9rem;
      width: 100vw;
      gap: 0.25rem;
      border: 1px solid $white;
      border-radius: 1rem;
      text-wrap: nowrap;

      &:hover {
        max-width: 20rem;
        background-color: $dark-gray;
        color: $white;
        border-color: $black;
      }
    }
  }
}
