.contact {
  main {
    display: flex;
    gap: 2rem;
    padding-bottom: 2rem;

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 9rem;
      max-height: 9rem;
      width: 100vw;
      height: 100vh;
      gap: 0.25rem;
      border: 1px solid var(--text-color);
      border-radius: 1.5rem;
      text-wrap: nowrap;

      &:hover {
        max-width: 20rem;
        background-color: var(--navbar-color);
        color: var(--text-color);
        border-color: var(--bg-color);
      }
    }
  }
}
