@import '../../styles/colors.scss';

.projects-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	column-gap: 2rem;
	row-gap: 2rem;
	padding: 0 5rem;
}

.project-card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
}

.project-card video {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 1rem 1rem 0 0;
}

.project-card .text-content * {
	font-family: 'Roboto Condensed', sans-serif;
}

.project-card .text-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	gap: 1.5rem;
	background-color: $white;
	color: $black;
	border-radius: 0 0 1rem 1rem;
}

.project-card .text-content article {
	text-align: justify;
}

.project-card .text-content .languages-container {
	display: flex;
	justify-content: space-around;
	width: 75%;
}

.project-card .text-content .languages-container .single-language-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.project-card .text-content .languages-container .language {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $black;
	padding: 0.3rem;
	border-radius: 100%;
	transform: scale(1.5);
	cursor: pointer;
}

.project-card .text-content .languages-container .language:hover {
	transform: scale(2);
}

.project-card .text-content .languages-container .triangle {
	position: absolute;
	bottom: -2.3rem;
	width: 0.7rem;
	height: 0.7rem;
	background-color: $black;
	transform: rotate(135deg);
}

.project-card .text-content .languages-container .language-name {
	position: absolute;
	bottom: -4rem;
	display: flex;
	font-size: 14px;
	background-color: $black;
	color: $white;
	padding: 0.5rem;
	border-radius: 0.5rem;
}

.project-card .text-content .links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.link-container {
	display: flex;
	justify-content: center;
	align-items: center;
	color: $black;
	padding: 0.5rem;
	border-radius: 1rem;
	gap: 0.5rem;
	transition: 100ms all ease;
}

.project-card .text-content .links .link-container:hover {
	background-color: $black;
	color: $blue;
}

.btn-github {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	font-size: 18px;
	background-color: $black;
	color: $white;
	border: 1px solid $white;
	margin-top: 2rem;
	padding: 1rem;
	border-radius: 3rem;
}

.btn-github:hover {
	background-color: $white;
	color: $black;
	transform: scale(0.9);
}
