@use '../../styles/variables' as *;

.backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.8rem;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  background-color: var(--bg-color);
  color: var(--text-color);

  outline: none;
  pointer-events: none;
  opacity: 0;
  transition:
    opacity 0.5s ease,
    background-color 0.3s,
    color 0.3s;

  &:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
  }

  &.isVisible {
    opacity: 0.5;
    pointer-events: all;

    &:hover {
      opacity: 1;
    }
  }

  .icon {
    transform: scale(1.3);
  }
}
