@import '../../styles/colors.scss';

.header-container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		box-shadow: 0 0 50rem 10rem $blue;
		animation: bubbleAnimation 4s infinite alternate-reverse;
	}

	nav {
		position: absolute;
		top: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		font-family: 'Roboto Condensed', sans-serif;
		width: 100%;
		padding: 1.5rem 4rem;
		background-color: $dark-gray;

		h2 {
			font-family: 'Cinzel Decorative', serif;
			font-size: 28px;

			&:hover {
				font-size: 48px;
				color: $blue;
			}
		}

		.options-nav {
			display: flex;
			gap: 3rem;

			&:hover a:not(:hover) {
				opacity: 0.5;
			}

			a {
				color: $white;
				cursor: pointer;

				&:hover {
					transform: scale(1.1);
					color: $blue;

					&::after {
						content: '';
						display: block;
						background-color: $blue;
						width: 100%;
						height: 1px;
					}
				}

				&::after {
					content: '';
					display: block;
					background-color: $blue;
					width: 0%;
					height: 1px;
					transition: 700ms ease-in-out;
				}
			}

			.toggle-language {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 0.5rem;

				.switch {
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;
					width: 3rem;
					height: 1.5rem;

					input {
						opacity: 0;
						width: 0;
						height: 0;

						&:checked + .slider {
							background-color: $white;
							background-position: center;
							background-size: cover;
							background-repeat: no-repeat;
						}

						&:checked + .slider:before {
							transform: translateX(100%);
						}
					}

					.slider {
						width: 100%;
						height: 100%;
						background-color: $black;
						background-position: center;
						background-size: cover;
						background-repeat: no-repeat;
						border-radius: 1rem;
						cursor: pointer;

						&:before {
							content: '';
							position: absolute;
							height: 1.5rem;
							width: 1.5rem;
							border-radius: 100%;
							background-color: $white;
							box-shadow: 0 0 0 1px $black;
						}

						&:hover:before {
							transition: 300ms all ease;
							background-color: $blue;
						}
					}
				}
			}
		}
	}

	h1 {
		font-family: 'Cinzel Decorative', serif;
		font-size: 54px;
	}

	.social {
		position: absolute;
		bottom: 7rem;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;

		.social-icon:hover {
			transform: scale(1.2);
			color: $blue;
		}
	}

	.arrow-down {
		position: absolute;
		bottom: 2rem;
		left: 50%;
		transform: translate(-50%, -50%);
		cursor: pointer;
		animation: arrowDown 500ms ease-in-out alternate infinite;

		&:hover {
			color: $blue;
		}
	}
}

@keyframes bubbleAnimation {
	0% {
		box-shadow: 0 0 2rem 1rem $blue;
	}

	100% {
		box-shadow: 0 0 50rem 5rem $blue;
	}
}

@keyframes arrowDown {
	0% {
		bottom: 2rem;
	}

	100% {
		bottom: 1rem;
	}
}
