@use '../../constants/variables.scss' as variables;
@use '../../App.module.scss';

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
// font-family: "Cinzel Decorative", serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
// font-family: "Roboto Condensed", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Schoolbell&display=swap');
// font-family: "Outfit", sans-serif;

.headerContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url('../../assets/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 50rem 10rem variables.$blue;
    animation: bubbleAnimation 3s infinite alternate-reverse;
  }

  nav {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    padding: 1.5rem 4rem;
    background-color: variables.$dark-gray;

    h2 {
      font-family: 'Cinzel Decorative', serif;
      font-size: 28px;

      &:hover {
        font-size: 36px;
        color: variables.$blue;
      }
    }

    .optionsNav {
      display: flex;
      gap: 3rem;

      &:hover a:not(:hover) {
        opacity: 0.5;
      }

      a {
        color: variables.$white;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
          color: variables.$blue;

          &::after {
            content: '';
            display: block;
            background-color: variables.$blue;
            width: 100%;
            height: 1px;
          }
        }

        &::after {
          content: '';
          display: block;
          background-color: variables.$blue;
          width: 0%;
          height: 1px;
          transition: 700ms ease-in;
        }
      }
    }
  }

  h1 {
    font-family: 'Cinzel Decorative', serif;
    font-size: 52px;
  }

  .typewriter {
    font-family: 'Outfit', sans-serif;
    font-size: 22px;
    color: variables.$white;
    font-weight: 100;
  }

  .arrowDown {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    animation: arrowDown 500ms ease-in-out alternate infinite;
  }
}

@keyframes bubbleAnimation {
  0% {
    box-shadow: 0 0 2rem 1rem variables.$blue;
  }

  100% {
    box-shadow: 0 0 50rem 5rem variables.$blue;
  }
}

@keyframes arrowDown {
  0% {
    bottom: 7rem;
  }

  100% {
    bottom: 3rem;
  }
}
