@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
// font-family: "Cinzel Decorative", serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
// font-family: "Roboto Condensed", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
// font-family: 'Open Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Schoolbell&display=swap');
// font-family: "Outfit", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Schoolbell&display=swap');
// font-family: 'Schoolbell', cursive;

$white: #d4d4d4;
$white-opacity: #d6d6d6d4;
$gray: #a8a8a8;
$blue: #349bd3;
$dark-gray: #161616;
$black: #0f0f0f;

:root {
  --color-primary: $blue;

  --React: #61dbfb;
  --Typescript: #358ef1;
  --Javascript: #f0db4f;
  --CSS: #264de4;
  --HTML: #e34c26;
  --API: #c7c7c7;
  --Bibliotecas: #8b8b8b;
}
