@use './_variables.scss' as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  user-select: none;
  transition: 300ms all ease;
  font-family: $font-open-sans;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-cinzel;
}

::-webkit-scrollbar {
  background-color: $dark-gray;
  width: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background-color: $gray;
  border-radius: 0.5rem;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $blue;
}

a {
  text-decoration: none;
  color: $white;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 3rem;
  border-bottom: 1px solid $gray-opacity;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $font-roboto;
  font-size: 32px;
  padding: 2rem 0;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    color: $blue;

    &::after {
      content: '';
      display: block;
      background-color: $blue;
      width: 100%;
      height: 1px;
    }
  }

  &::after {
    content: '';
    display: block;
    background-color: $blue;
    width: 0%;
    height: 1px;
    transition: 700ms ease-in-out;
  }
}
