@use './variables.scss' as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  transition: 300ms all ease;
  font-family: $font-open-sans;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-cinzel;
}

::-webkit-scrollbar {
  background-color: var(--navbar-color);
  width: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--gray-opacity);
  scroll-margin-top: 5rem;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $font-roboto;
  font-size: 32px;
  padding: 2rem 0;
  &:hover {
    transform: scale(1.1);
    color: var(--primary-color);

    &::after {
      content: '';
      display: block;
      background-color: var(--primary-color);
      width: 100%;
      height: 1px;
    }
  }

  &::after {
    content: '';
    display: block;
    background-color: var(--primary-color);
    width: 0%;
    height: 1px;
    transition: 700ms ease-in-out;
  }
}
