$font-cinzel: 'Cinzel Decorative', serif;
$font-roboto: 'Roboto Condensed', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;
$font-outfit: 'Outfit', sans-serif;
$font-schoolbell: 'Schoolbell', cursive;

$white: #d4d4d4;
$white-opacity: #d6d6d6d4;
$gray: #a8a8a8;
$blue: #349bd3;
$dark-gray: #161616;
$black: #0f0f0f;

:root {
  --color-primary: $blue;

  --React: #61dbfb;
  --Typescript: #358ef1;
  --Javascript: #f0db4f;
  --CSS: #264de4;
  --HTML: #e34c26;
  --API: #c7c7c7;
  --Bibliotecas: #8b8b8b;
}
