// cores padrões
$white: #d4d4d4;
$white-opacity: #d6d6d6d4;
$gray: #a8a8a8;
$blue: #349bd3;
$dark-gray: #161616;
$black: #0f0f0f;

/* cores das linguagens */
:root {
	--React: #61dbfb;
	--Javascript: #f0db4f;
	--CSS: #264de4;
	--HTML: #e34c26;
	--API: #c7c7c7;
	--Bibliotecas: #8b8b8b;
}
