@import '../../styles/colors.scss';

#contact {
	main {
		display: flex;
		gap: 3rem;

		a {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 2rem;
			max-width: 10rem;
			width: 100vw;
			gap: 0.5rem;
			border: 1px solid $white;
			border-radius: 1rem;

			&:hover {
				max-width: 20rem;
				background-color: $dark-gray;
				color: $white-opacity;
				border-color: $black;
			}
		}
	}
}
