main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  padding: 1rem;

  @mixin white-gradient {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  $animationSpeed: 10s;
  $slideSize: 100px;

  .slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: $slideSize;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;

    &::before,
    &::after {
      @include white-gradient;
      content: '';
      height: $slideSize;
      position: absolute;
      width: 200px;
      z-index: 2;
    }

    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }

    &::before {
      left: 0;
      top: 0;
    }

    .slideTrack {
      display: flex;
      animation: scroll $animationSpeed linear infinite;
      width: calc(#{$slideSize} * 24); // 24 ícones (12 duplicados)
    }

    .slide {
      width: $slideSize;
      height: $slideSize;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 64px;
      color: #1d1d1d;

      svg {
        transition: transform 0.3s ease;
        &:hover {
          transform: scale(1.2);
          color: #007bff; // azul vibrante
        }
      }
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-#{$slideSize} * 12));
    }
  }
}
