@use '../../styles/variables' as *;

.tooltip {
  position: relative;
  display: flex;
  justify-content: center;
}

.tooltiptext {
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: $dark-gray;
  color: $white;
  text-align: center;
  width: max-content;
  visibility: hidden;
  border-radius: 0.5rem;
  padding: 0.5rem;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0.5rem;
    border-style: solid;
    border-color: $dark-gray transparent transparent transparent;
  }
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
